DB_HOST=localhost
DB_NAME=irb_system
DB_USER=root
DB_PASSWORD=
# Mail (SMTP) Config
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=no-reply@irb.com
MAIL_FROM_NAME="IRB System"
